<!--<form class="form-login" role="form">
    <h2 class="form-login-heading">Sign up</h2>
    <input type="text" class="form-control" placeholder="Username" data-ng-model="registration.Email" required autofocus>
    <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.Password" required>
    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.ConfirmPassword" required>
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>
-->

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Creacion de usuario
            </header>
            <div class="panel-body">
                <div class=" form">
                    <form class="cmxform form-horizontal tasi-form" id="commentForm">
                        <div class="form-group ">
                            <label for="cname" class="control-label col-lg-2">Correo Electronico</label>
                            <div class="col-lg-10">
                                <input class=" form-control" ng-model="registration.Email" id="email" name="email" minlength="2" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="cname" class="control-label col-lg-2">Contraseña</label>
                            <div class="col-lg-10">
                                <input class=" form-control" ng-model="registration.Password" id="password" name="password" minlength="2" type="password" required />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="cname" class="control-label col-lg-2">Repetir contraseña</label>
                            <div class="col-lg-10">
                                <input class=" form-control" ng-model="registration.ConfirmPassword" id="password" name="password" minlength="2" type="password" required />
                            </div>
                        </div>
                        
                        <div class="form-group ">
                            <label for="cemail" class="control-label col-lg-2">Empresa</label>
                            <div class="col-lg-10">
                                <select class="form-control " ng-model="registration.Empresa" ng-options="empresa as empresa.Nombre for empresa in empresas" id="codigoempresa" type="email" name="codigoempresa" required>
                                    <option value="">Seleccione una empresa</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-success" ng-click="signUp()" type="submit">Crear</button>
                                <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                                    {{message}}
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>